{
  "openapi": "3.0.1",
  "info": {
    "title": "ProcessZen API",
    "description": "API for managing workflow runs and templates in ProcessZen",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://processzen.com/api"
    }
  ],
  "security": [
    {
      "unkeyAuth": []
    }
  ],
  "paths": {
    "/create-workflow-run": {
      "post": {
        "summary": "Create a new workflow run",
        "description": "Creates a new workflow run based on a template and input fields",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRun"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/get-workflow-runs": {
      "get": {
        "summary": "Get workflow runs",
        "description": "Retrieves workflow runs for the authenticated organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessedWorkflowRun"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/get-workflow-templates": {
      "get": {
        "summary": "Get workflow templates",
        "description": "Retrieves workflow templates for the authenticated organization",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessedWorkflowTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateWorkflowRunRequest": {
        "type": "object",
        "required": ["workflow_template_id", "input_fields"],
        "properties": {
          "workflow_template_id": {
            "type": "string"
          },
          "input_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "run_json": {
            "type": "object"
          },
          "last_activity": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProcessedWorkflowRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lastActivity": {
            "type": "string",
            "format": "date-time"
          },
          "workflowName": {
            "type": "string"
          },
          "currentStepAssignee": {
            "type": "string"
          },
          "currentStepDueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "currentStepName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ProcessedWorkflowTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "inputFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pageName": {
                  "type": "string"
                },
                "inputId": {
                  "type": "string"
                },
                "fieldName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "unkeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}